:root {
    --rojizo: rgb(230, 62, 62);
    --wine-color: rgb(179, 54, 54);
    --azul: rgb(47, 92, 190);
    --blanco: white;
    --amarillo: rgb(230, 230, 15);
    --facebook: #0016b0;
    --gmail: #FF1F3A;
    --hover: #1883ba;
    --tamaño-fuente: 1.8em;
    --ingresar: #E7E900; 
    --borrar: #00e94e;
    --form-color: rgba(214, 67, 67, 0.527);
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI Light';
    display: flex;
    flex-direction: column;
}

/*ELEMENTOS DEL HEADER*/

header {
    background-color: var(--blanco);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#logo-caja {
    width: 35%;
    padding: 0;
    display: flex;
    justify-content: center;
}

#logo-pizza {
    width: 25%;
    padding: 1%;
}

/*CARRITO Y BOTON DE INICIO DE SESION*/

.user-elements {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#carrito {
    width: 4em;
    margin-right: 5em;
}

.user-elements #log-in {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: large;
    font-weight: bolder;
    text-decoration: none;
    color: var(--wine-color);
    display: flex;
    align-items: center;
}

.linea-header {
    height: 1em;
    background-color: var(--rojizo);
}


/*ELEMENTOS NAVEGADOR DE LA PAGINA*/

nav {
    background-color: var(--azul);
    font-size: large;
    display: flex;
    justify-content: space-between;
}

nav a {
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    text-decoration: none;
    font-weight: bold;
    color: var(--blanco);
}

nav a:hover {
    background-color: var(--amarillo);
    color: black;
}


/*FORMULARIO PARA INGRESAR*/

	div.ingreso {
        width: 100%;
        height: 100%;
		background: var(--blanco);
		text-align: center;
        background-image: url(http://confirmado.com.ve/conf/conf-upload/uploads/2017/01/maxresdefault-12.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
	}


	div.form {
		width: 40%;
        margin: 3%;
        background-color: var(--form-color);
		text-align: center;
        border-radius: 2em;
	}

	div.form p, .form label {
		display: block;
		margin-right: 6%;
		margin-left: 6%;
		text-align: center;
		font-family: sans-serif;
		font-style: italic;
		line-height: 2em;
		color: var(--blanco);
        font-size: var(--tamaño-fuente);
	}

	.form h1 {
		color: white;
	}

	.form a.btfacebook {
	    text-decoration: none;
	    padding: 0.5em;
	    font-weight: 600;
	    font-size: 2em;
	    color: var(--blanco);
	    background-color: var(--facebook);
	    border-radius: 6px;
	    
  	}

  	.form a.btgmail {
	    text-decoration: none;
	    padding: 0.5em;
	    font-weight: 600;
	    font-size: 2em;
	    color: var(--blanco);
	    background-color: var(--gmail);
	    border-radius: 6px;
  	}

  	.form a:hover{
	    color: var(--hover);
	    background-color: var(--blanco);
  	}

    input {
        padding: 0.5em;
        border: grey 0.1em solid;
        border-radius: 0.8em;
    }

  	input.ingresar {
 	    text-decoration: none;
	    padding: 0.5em;
	    font-weight: 600;
	    font-size: 1.7em;
	    color: var(--blanco);
	    background-color: var(--ingresar);
	    border-radius: 0.5em;		
  	}

  	input.borrar {
  		 text-decoration: none;
	    padding: 0.5em;
	    font-weight: 600;
	    font-size: 1.7em;
	    color: var(--blanco);
	    background-color: var(--borrar);
	    border-radius: 0.5em;
  	}

  	input.ingresar:hover, .borrar:hover {
	    color: var(--hover);
	    background-color: var(--blanco);
  	}




/*ELEMENTOS DEL PIE DE PAGINA*/

.footer {
    background-color: var(--azul);
    font-size: var(--tamaño-fuente);
    font-weight: bold;
    color: var(--blanco);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.derechos {
    display: flex;
    flex-direction: row;
    align-items: center;
}